:root {
  --basic-red-color: #EE3643;
  --basic-white-color: #FFFFFF;
  --basic-black-color: #000000;
  --basic-dark-backgroundcolor:#32425C;
  --menu-dark-backgroundcolor: #293449;
  --yellow-color: #FFBF47;
  --purple-color: #DC91D8;
  --green-color: #8ED78F;
  --popular-background: #F9F5F0;
  --nav-background: #FFD180;
  --servise-background: #F1F5F7;



}
